.body {
    width: 100vw;
    min-height: 100vh;
    
    font-family: sans-serif;
}

.field {
    width: 100vw;
    min-height: 100vh;
    background: #fdc82a;
}

.cell {
    position: fixed;
}

.help {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    
    border-radius: 5px;
    background: #ffffff;
}

.help div {
    margin-bottom: 1rem;
}

.osd {
    position: fixed;
    left: 2rem;
    bottom: 2rem;
    
    border-radius: 5px;
    border: 1px solid #000;
    background: #ffffff;
}