:root {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    min-height: 100vh;
    
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

#field {
    width: 100vw;
    min-height: 100vh;
    background: #ecf0f1;
}

.cell {
    position: fixed;
}

.help {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 0.5rem;
    border-width: 1px;
    border-color: rgba(0,0,0,0);
    padding: .75rem;
    
    background: #ffffff;
    color: rgb(9, 9, 11);
}

.osd {
    position: fixed;
    left: 2rem;
    bottom: 2rem;
    
    border-radius: 5px;
    border: 1px solid #000;
    background: #ffffff;
}